@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto+Slab:wght@500&family=Source+Sans+Pro:wght@200;400;600&display=swap');

body {
    background-color: #eee;
    font-family: 'Source Sans Pro'
}

h1 {
    font-family: 'Abril fatface';
    text-align: center;
}

h4 {
    font-family: 'Roboto Slab'
}

h5 {
    color: red;
}

.newspaper-container {
    width: 700px;
    border-radius: 15px;
    padding: 1rem;
    box-shadow: 0 0 5px color #c3c3c3;
    background-color: white;
    margin: 2.2rem auto;
}

nav ul li {
    display: inline-block;
    padding: .25rem;
    margin: auto;
    font-size: small; 
    text-align: center;
    color: #777;
}

nav {
    border-top: #777 1px solid;
    border-bottom: #777 1px solid;
    position: sticky;
    top: 0;
    background-color: white;
}

a {
    color: #ddd;
    text-decoration: none;
}

head {
    text-align: center;
}

main p {
    margin-bottom: #777 40px;
}

.more-articles {
    border-top: #777 1px solid;
    margin-top: 10px;
    padding: .25rem;
    vertical-align: middle;
    margin: .25rem;
}

section {
    display: inline-block;
    width: 35%;
    padding: 3rem
}



